.header {
  background-color: #f1f3ff;
  max-width: 100%;
}

.logo {
  background-color: #0d28a6;
  width: 100px;
  height: 34px;
  padding-left: 100px;
}
.nav-text {
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
}
.card-invis {
  border: none;
}

.car-section {
  display: flex;
  align-items: center;
}

.text-car-section {
  max-width: 400px;
}

.text-head {
  position: absolute;
  width: 568px;
  height: 108px;
  left: 136px;
  top: 177px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: black;
}

.service-section {
  align-items: center;
}

.img-car {
  margin: -5;
  width: 659px;
  height: 380px;
}

.img-service {
  width: 430px;
  height: 360px;
}

.icon-circle-small {
  width: 24px;
  height: 24px;
  padding: 2px 2px;
  border-radius: 50%;
  font-size: 16px;
  text-align: center;
  font-weight: bolder;
}
.text-small {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: black;
}

.text-bold {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 520;
}
.col-35 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
}

.check-list-section {
  display: flex;
}
.check-list-icon {
  display: flex;
  background-color: #cfd4ed;
  width: 15px;
  position: relative;
  height: 10px;
  border-radius: 50%;
  padding-right: 10px;
}

.btn-2 {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.why-us-section {
  align-items: center;
  padding-top: 5vh;
}

.card-section {
  display: flex;
}

.testimonial {
  align-items: center;
}

.text-testimonial {
  font-size: 1.5rem;
}

.slider {
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  margin-bottom: 20px;
}
.jumbotron-slide {
  padding: 60px 35px;
  width: 200px;
  border-radius: 0.5rem;
  background-color: #f1f3ff;
}
.jumbotron-slide:first-child {
  flex-grow: 1;
}
.jumbotron-slide:nth-child(2) {
  flex-grow: 3;
  margin: 0 25px;
}
.jumbotron-slide:nth-child(3) {
  flex-grow: 1;
}

.jumbotron-img {
  margin: 20px 0;
  left: 0;
}

.slider-text {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
.btn-circle-small {
  width: 30px;
  height: 30px;
  padding: 2px 2px;
  border-radius: 50%;
  font-size: 16px;
  text-align: center;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.faq-section {
  align-items: center;
}

.footer {
  font-size: medium;
}

.footer-link {
  color: black;
  font-weight: 500;
}

.outline-icon {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}
